<header class="sticky-header">
    <div class="container">
        <div class="logo">Your Logo</div>
        <div class="user-info">
            <span>Hi, {{userName}}</span>
            <button class="btn-logout" (click)="logout()">Logout</button>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <h4>First time UIC creation?</h4>
        <h4>Ask for which version of UIC</h4>
        <h4>Ask for configurations in core</h4>
        <h4>Ask for modules to be imported?</h4>
        <h4>Ask for configurations modules</h4>
        <h4>Save it to one folder location where one can download</h4>
        
        <h4>Already created UIC? </h4>
        <h4>Fetch files from folder location - list of created UIC? </h4>
        <h4>Need to create new ? repeat above steps </h4>
        <h4>Modify above steps? </h4>
        <h4>Select file to mody </h4>
        <h4>update config and save in the same file </h4>
    </div>
</section>

<!-- <button class="" (click)="logout()">Logout</button> -->